body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: lightblue;
}

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

table inputpty[type="text"] {
    width: 95%;
    box-sizing: border-box;
}

table input[type="submit"] {
    padding: 5px 10px;
}

.form {
    margin-top: 20px;
}

.wrap-text {
    white-space: normal;
    word-break: break-word;
}

.deleted-row {
    background-color: #f9f9f9;
    color: #888;
}

.deleted-row td::before {
    content: "⚠ ";
    color: orange;
}

.search-wrapper {
    text-align: center;
    margin: 2rem 0;
}

#search-input {
    width: min(400px, 80%);
    padding: .6rem 1rem;
    font-size: 1.1rem;
}

#add-part-btn {
    margin-left: 0.5rem;
    padding: .6rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}