{% extends 'base.html' %}

{% block body %}
    <div class="description">
        <h1 style="text-align: center">Deleted Parts</h1>
        <div class="back-link">
            <a href="{{ url_for('parts.index') }}">← Back to Parts</a>
        </div>
        <table>
            <tr>
                <th>Part ID</th>
                <th>Description</th>
                <th>Location</th>
                <th>Deleted At</th>
                <th>Actions</th>
            </tr>

            {% for part in parts %}
                <tr class="deleted-row">
                    <td>{{ part.id }}</td>
                    <td class="wrap-text">{{ part.description }}</td>
                    <td>{{ part.location }}</td>
                    <td>{{ part.deleted_at.strftime("%Y-%m-%d %H:%M") }}</td>
                    <td>
                        <form action="/undelete/{{ part.id }}" method="post">
                            <button type="submit">Undelete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>
{% endblock %}
